JWT_SECRET=imqQLCI3Ro6b8EQIrz3CHFy9PnT9g4YqfV8NpbM6rYY=
MONGODB_URI=mongodb+srv://wisdomvolt:UMOV2OsZ4i1IUB0E@cluster0.m7svv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
EMAIL_PASSWORD=wexq moll tegn euho
PORT=5000
TWITTER_CLIENT_ID=RGRkSlN1UXA0ZUpXTWVTc1N3TUE6MTpjaQ
TWITTER_CLIENT_SECRET=2Gcki1AcmSjjlseRnp0hVBnjPeh3QvTYQWPIWqp1jJy5ggDWCB
DISCORD_CLIENT_ID=1346478400742887537
DISCORD_CLIENT_SECRET=inHEZOspnVDsVMjqbGC-6vG-gQWgOPTc
DISCORD_REDIRECT_URI=https://tazkora-production.up.railway.app/api/auth/discord/callback
TELEGRAM_APP_ID=29079983
TELEGRAM_APP_HASH=9a3ef33c36447f16cd8de4d8605879c9
TELEGRAM_BOT_TOKEN=7419743815:AAHK9jlKa9pOh-sZMWsBoJ8XI3B5MDMa7I8
PAYSTACK_SECRET_KEY=sk_test_689c168be877c584bb283fc3be28b8c819f46e82
PAYSTACK_PUBLIC_KEY=pk_test_65078cf912f4ba0f93317e14427fea8d8dc58fae